nav{padding-left: 5px;padding-right: 5px;}
#freg{max-width: 65%;}

#fchat{max-width: 85%; width: 85%;}

/* label color */
.input-field label {
    color: #000;
    font-weight: bold;
    font-size: larger;
}
/* label focus color */
.input-field input[type=text]:focus + label {
color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
color: #000;
}

#tarjeta-titulo{font-weight: 600;}

#chat-visor{
  height: auto;
  max-height: 450px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  
}

#form-mensaje{
  display: block;
}

#msj-chat{
  width: 75%;
  max-width: 75%;
  min-width: 50%;
}
@media only screen and (max-width: 600px) {
  #msj-chat{
    width: 50%;
  }
}

#msj-submit{
  margin-left: 3%;
}